* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 20px 15%;
    font-family: sans-serif;
    font-size: 1.2rem;
    .add_expense {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 4rem;
            font-weight: 300;
        }
        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: green;
            padding: 10px 0;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        .form_name {
            width: 100%;
            padding: 10px 0;
            input {
                width: 90%;
                border: 1px solid #cac7c7;
                ;
                border-radius: 3px;
                outline: none;
                padding: 7px 20px;
                height: 35px;
            }
        }
        .form_date_amount {
            width: 100%;
            padding-bottom: 10px;
            input {
                width: 42.5%;
                border: 1px solid #cac7c7;
                ;
                border-radius: 3px;
                outline: none;
                padding: 7px 20px;
                height: 35px;
                margin-left: 5px;
            }
        }
    }
    .expanse_table {
        width: 100%;
        padding: 10px 0px;
        table {
            font-size: 1rem;
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 10px 10px;
            width: 95%;
            tr {
                td {
                    border: 1px solid #cac7c7;
                    width: 25%;
                    padding: 10px 10px;
                }
            }
            .first_tr {
                font-weight: 600;
            }
            .second_tr {
                background-color: #f0ecec;
            }
            .noexpenses_tr {
                display: table-row;
            }
            .nodisplayexpenses_tr {
                display: none;
            }
        }
    }
    .add_btn,
    .delete_btn,
    .deleteall_btn {
        padding: 10px 20px;
        color: #ffffff;
        background: #008000;
        border: 0;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        transition: all ease-out 0.3s;
        cursor: pointer;
        &:hover {
            background: #029902;
        }
    }
}